{{ define "folder" }}
  {{ if .Children }}
    <div class="menu--sub hidden" data-path="{{ .Path }}">
      {{ range .Children }}
        <li>
          {{ if .Children }}
            <button class="menu--trigger" @click="toggleChild('{{ .Path }}')"></button>
          {{ end }}
          {{ if .Media }}
            <a class="menu--a {{ if .Children }}menu--a__child{{ end }}" href="/folder/{{ .Path }}"
              >{{ .Name }}
              ({{ .ImageCount }}
              {{ .ImageCount | plural "item" "items" }})
              {{ range .Media }}
                <img
                  class="menu--img lazyload"
                  data-src="/img/{{ .Hash }}/200"
                  width="20"
                  height="20"
                  alt="{{ .Path }}"
                />
              {{ end }}
            </a>
          {{ else if .Children }}
            <button class="menu--toggle" @click="toggleChild('{{ .Path }}')">{{ .Name }}</button>
          {{ else }}
            <span>{{ .Name }}</span>
          {{ end }}
        </li>
        {{ template "folder" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
