{{ define "nav" }}
  <header x-data="{ open: false }" class="site-nav" :class="$store.fullscreen ? 'site-nav__hidden' : ''">
    <div>
      <div class="wrapper">
        <nav class="navbar" :class="{ 'navbar-open' : open }">
          <div class="navbar-logo">
            <a class="navbar-logo__text" href="/">
              {{ readFile "logo.svg" }}
            </a>
          </div>
          {{ if ne .HideNavFooter true }}
            <div class="navbar-toggle">
              <button class="navbar-toggle__btn" x-data="scan()" @click="scan('default')">
                <div
                  class="d-flex"
                  :class="$store.poll.status ? 'navbar-item__spin' : ''"
                  :title="$store.poll.status ? 'Scan in progress' : ''"
                >
                  {{ readFile "refresh.svg" }}
                </div>
              </button>
              <button class="navbar-toggle__btn" @click="open = !open">
                <span x-show="!open">Menu</span>
                <span x-show="open" x-cloak>Close</span>
                {{ readFile "toggle.svg" }}
              </button>
            </div>
            <div class="navbar-left" :class="{ 'navbar-left__open' : open }">
              <div class="navbar-item {{ if eq .Section "timeline" }}navbar-item__active{{ end }}">
                <a href="/">
                  {{ readFile "timeline.svg" }}
                  <span>Timeline</span>
                </a>
              </div>
              <div class="navbar-item {{ if eq .Section "favorites" }}navbar-item__active{{ end }}">
                <a href="/favorites">
                  {{ readFile "favorites.svg" }}
                  <span>Favorites</span>
                </a>
              </div>
              <div
                class="navbar-item {{ if eq .Section "folders" }}
                  navbar-item__active
                {{ end }}"
              >
                <a href="/folders">
                  {{ readFile "folders.svg" }}
                  <span>Folders</span>
                </a>
              </div>
              <div
                class="navbar-item {{ if eq .Section "tags" }}
                  navbar-item__active
                {{ end }}"
              >
                <a href="/tags">
                  {{ readFile "tags.svg" }}
                  <span>Tags</span>
                </a>
              </div>
              <div
                class="navbar-item {{ if eq .Section "gear" }}
                  navbar-item__active
                {{ end }}"
              >
                <a href="/gear">
                  {{ readFile "gear.svg" }}
                  <span>Gear</span>
                </a>
              </div>
              <div
                class="navbar-item {{ if eq .Section "map" }}
                  navbar-item__active
                {{ end }}"
              >
                <a href="/map">
                  {{ readFile "map.svg" }}
                  <span>Map</span>
                </a>
              </div>
              <div
                class="navbar-item {{ if eq .Section "admin" }}
                  navbar-item__active
                {{ end }}"
              >
                <a href="/admin">
                  {{ readFile "settings.svg" }}
                  <span>Admin</span>
                </a>
              </div>
              <div class="navbar-item navbar-item__button navbar-item__hide-mobile" x-data="scan()">
                <button
                  class="btn btn-link"
                  @click="scan('default')"
                  :class="$store.poll.status ? 'navbar-item__spin' : ''"
                  :title="$store.poll.status ? 'Scan in progress' : 'Scan media library'"
                >
                  <div class="d-flex">
                    {{ readFile "refresh.svg" }}
                  </div>
                </button>
              </div>
            </div>
          {{ end }}
        </nav>
      </div>
    </div>
  </header>
{{ end }}
