{{ define "toast" }}
  <div x-data="" class="toast">
    <template x-for="(toast, index) in $store.toasts.list" :key="toast.id">
      <div
        x-show="toast.visible"
        x-transition
        class=" text-white mb-3 d-flex align-items-center br-4 w-350"
        :class="{
				'bg-error': toast.type === 'error',
				'bg-blue': toast.type === 'notice',
				}"
      >
        <div class="d-flex flex-col w-full">
          <div class="d-flex align-items-center w-full px-1 my-1">
            <button type="button" class="toast-close" @click="$store.toasts.destroyToast(index)">
              <svg
                width="16"
                height="16"
                fill="none"
                stroke="#fff"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
            <div x-text="toast.message" class="body-small text-white px-1"></div>
          </div>
          <progress
            x-data="{ value : 0 }"
            x-init="
            setInterval(()=> {
              if(value == 100){
                clearInterval();
              }else{
                value+=1
            }},toast.timeOut / 100)"
            max="100"
            value="0"
            :value="value"
            class="toast-progress w-full p-0"
          ></progress>
        </div>
      </div>
    </template>
  </div>
{{ end }}
