.flex-images {
  margin: 0 -2px; // requires px, not rem
  overflow: hidden;

  .item {
    position: relative;
    float: left;
    box-sizing: content-box;
    margin: 4px; // requires px, not rem
    overflow: hidden;

    &__bg {
      display: block;
      position: relative;
      border: none;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background: $gray;
      height: 0;
    }

    &-video:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../svg/video.svg');
      background-position: 3% 95%;
      background-size: 35px 35px;
      background-repeat: no-repeat;
      background-color: transparent;
      pointer-events: none;
      content: '';
    }

    img {
      display: block;
      position: absolute;
      z-index: 0;
      width: auto;
      height: 100%;
    }
  }

  .fake {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    float: left;
    box-sizing: content-box;
    margin: 4px; // requires px, not rem
    background: $gray;
    width: 149px;
    height: 100px;
    overflow: hidden;
    color: $white;
  }
}
