.gear-table {
  display: flex;
  margin: 1rem 0;
  text-align: left;
  tr {
    max-height: 50px;
  }
}

.gear-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media (max-width: 900px) {
    display: block;
  }
}
