$transition: all 0.2s;

.map {
  z-index: 0;
  border-radius: 12px;
  width: 100%;
  height: 300px;
}

.map-full {
  z-index: 3;
  width: 100%;
  height: calc(100vh - 77px) !important;
  .marker-cluster span {
    color: $text-color;
  }
}

.glide {
  &__slide {
    display: flex;
    color: white;
    font-size: 30px;
    &--active {
      // width: 100vw !important; // chrome
    }
    span {
      background: $go;
      width: 100%;
      height: 400px;
    }
  }
  &__slides {
    touch-action: pan-y pinch-zoom !important; // fixes pinch zoom on android
  }
}

.zoom-active img {
  opacity: 0;
}

.image-fit {
  position: relative;
  background-color: var(--background-media);
  overflow: hidden;
  &__figure {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: calc(-200px + 100vh);
    @media (min-width: 900px) {
      padding: 1rem 0;
      height: calc(100vh - 250px);
      min-height: 400px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: $transition;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    @media (min-width: 901px) {
      max-width: calc(100vw - 120px) !important;
    }
  }

  &__img {
    z-index: 1;
    object-fit: contain;

    @media (max-width: 901px) {
      max-width: 100vw !important;
    }
  }

  &__video {
    &-vertical {
      margin: auto;
      height: 100%;
      object-fit: contain;
    }

    &-horizontal {
      margin: auto;
      height: 100%;
      object-fit: contain;

      @media (max-width: 900px) {
        height: auto;
      }
    }
  }

  &__assets {
    display: flex;
    position: absolute;
    top: 0;
    right: 64px;
    left: 64px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: 1rem auto;
    height: 100%;

    &-arrows {
      position: absolute;
      opacity: 1;
      transition: $transition;
      inset: 0px;
    }

    &-left,
    &-right {
      display: flex;
      position: absolute;
      top: 0px;
      align-items: center;
      z-index: 3;
      transition: $transition;
    }

    &-left {
      top: calc(50% - 40px);
      left: 23px;
      @media (max-width: 900px) {
        left: 0;
      }
    }

    &-right {
      top: calc(50% - 40px);
      right: 23px;
      @media (max-width: 900px) {
        right: 0;
      }
    }

    &-prev {
      @extend .btn;
      @extend .btn-icon;
      background-image: url('../svg/left.svg');
      &:hover {
        background-color: transparent;
      }
    }

    &-next {
      @extend .btn;
      @extend .btn-icon;
      background-image: url('../svg/right.svg');
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__loading {
    position: absolute;
    top: 50%;
  }
}

.image-top {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  padding: 0.5rem 0rem 0.5rem 1.35rem;
  width: calc(100% - 2.25rem);
  pointer-events: none;

  &__right {
    display: flex;
    pointer-events: all;
  }

  &__back {
    @extend .btn;
    @extend .btn-icon;
    display: flex;
    opacity: 1;
    transition: $transition;
    background-image: url('../svg/back.svg');
    pointer-events: all;
  }

  &__full {
    @extend .btn;
    @extend .btn-icon;
    opacity: 1;
    transition: $transition;
    margin: 0.5rem;
    background-image: url('../svg/fullscreen.svg');
    &-enabled {
      background-image: url('../svg/fullscreen-close.svg');
      background-color: $button-gray;
    }
  }

  &__download {
    @extend .btn;
    @extend .btn-icon;
    opacity: 1;
    transition: $transition;
    margin: 0.5rem;
    background-image: url('../svg/download.svg');
  }

  &__zoom {
    @extend .btn;
    @extend .btn-icon;
    opacity: 1;
    transition: $transition;
    margin: 0.5rem;
    background-image: url('../svg/zoom.svg');

    &-enabled {
      background-image: url('../svg/zoom-minus.svg');
      background-color: $button-gray;
    }
  }
}

.image-nav {
  display: grid;
  position: relative;
  grid-auto-columns: 14.25%;
  grid-auto-flow: column;
  justify-content: center;
  gap: 10px;
  margin: auto;
  background-color: var(--background-media);
  padding-top: 0.75rem;
  width: 100%;
  max-width: 372px;
  height: 75px;

  &__text {
    margin: 0.25rem;
    outline: 0;
    border: 0;
    border: 1px solid rgb(45, 51, 59);
    border-radius: 4px;
    background: none;
    padding: 0;
    width: 35px;
    height: 35px;
  }

  &__link {
    cursor: pointer;
    margin: 0.25rem;
    outline: 0;
    border: 0;
    border: 1px solid rgb(45, 51, 59);
    border-radius: 4px;
    background: none;
    padding: 0;
    width: 35px;
    height: 33px;
    &:hover {
      text-decoration: none;
    }
  }

  &__img {
    margin: -2px -1px 0px -1px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(45, 51, 59);
    width: 35px;
    height: 35px;
    object-fit: cover;
    &:hover {
      box-shadow: rgb(55, 62, 71) 0px -1px 0px 0px inset;
      border: 1px solid $border-gray;
    }
  }

  &__active {
    box-shadow: rgb(55, 62, 71) 0px -1px 0px 0px inset;
    border: 1px solid $border-gray;
  }

  &__mobile-hide {
    @media (max-width: 900px) {
      display: none;
    }
  }
}

.image-meta {
  @extend .wrapper;

  &__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 1240px;
    min-height: 400px;

    &:has(> div:nth-child(3)) {
      max-width: 1980px;
    }

    > div {
      max-width: 500px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: 900px) {
      display: block;
      > div {
        max-width: 100%;
      }
    }
  }

  &__heading {
    @extend .body-light;
  }

  &__description {
    @extend .body-medium;
  }

  &__link {
    @extend .body-strong;
  }

  &__text {
    @extend .body-strong;
    &:hover {
      text-decoration: none;
    }
  }

  &__small {
    @extend .body-small;
  }

  &__filepath {
    @extend .body-light;
    transition: border 0.1s ease-in-out;
    cursor: copy;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 6px 8px;
    color: $gray-2;
    font-size: 14px;
    line-height: 20px;
    text-align: left;

    &:hover {
      border: 1px solid $border-gray;
    }
  }
}

.slider-container,
.image-fit__figure {
  display: inline-flex;
  transform: auto;
  transition: $transition;
  margin: auto;
  width: 100%;
  overflow: hidden;
  scrollbar-width: none;
}

.grabbing {
  cursor: grabbing;
}

.image-color {
  border-radius: 0.25rem;
  width: 20px;
  height: 20px;
}

.fullscreen {
  &-wrap {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 100%;
    overflow: scroll;
  }
  &-bg {
    position: absolute;
    top: 0;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }

  &-image {
    // z-index: 4;
    // width: 100vw;
    display: block;
    // position: fixed;
    // top: 0;

    .glide,
    .image-nav {
      background-color: $black;
    }

    .image-fit {
      background-color: $black;

      &__figure {
        transition: $transition;
        background-color: $black;
        padding: 0;
        max-width: 100%;
        height: 100vh;
        max-height: 100vh;
        overflow: clip;
        // cursor: zoom-out;
      }

      &__container {
        width: 100vw;
        height: 100vh;
        overflow: visible !important;
      }

      &__img {
        cursor: zoom-in;
      }
    }
  }

  &-zoom {
    cursor: grab;
  }
}
