.title {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-bottom: 0.5rem;

  &-total {
    @extend .body-small;
    margin-top: 1px;
    border: 1px solid var(--border);
    border-radius: 4px;
    background: var(--background-alt);
    padding: 0 4px;
    line-height: 24px;
  }
}

.index {
  display: flex;
  // border-bottom: 1px solid var(--border);
  // padding-bottom: 0.25rem;
  // margin-bottom: 0.75rem;

  @media (min-width: 501px) {
    justify-content: space-between;
  }

  @media (max-width: 500px) {
    display: block;
  }

  input {
    min-width: 250px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &-select {
    background-image: var(--background-select);
    background-position: 80px 12px;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: transparent;
    background-color: var(--background-alt);
    width: 100px;
    height: 32px;
    color: var(--code);
    font-size: 14px;
    line-height: 16px;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &-input {
    &__search {
      background-color: var(--background-alt);
    }
  }

  &-search {
    display: flex;
    gap: 1rem;

    &__form {
      display: flex;
      gap: 0.5rem;

      @media (max-width: 700px) {
        justify-content: end;
        width: 100%;
      }

      label {
        display: flex;
        align-items: center;
      }
    }

    &__rating {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 3px;

      @media (max-width: 900px) {
        display: none;
      }
    }

    &__group {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &__radio {
      margin: 0;

      label {
        padding: 0 6px 0 0;
        line-height: 22px;
      }

      &-label {
        padding: 0;
      }
    }

    &__term {
      // padding: 0 1rem;
    }

    &__clear {
      // margin: 0 1rem 0 0;
    }
  }

  &-type {
    display: flex;
    @media (max-width: 900px) {
      display: none;
    }
    &__button {
      cursor: pointer;
      margin: 0px;
      outline: 0;
      border: 0;
      background: none;
      padding: 0px;

      path {
        transition: 0.2s ease-in-out;
      }
      &:hover {
        path {
          fill: lighten($link, 10%);
        }
      }
    }
    &__active {
      path {
        fill: $link;
      }
    }
  }
}

.filter-ui {
  order: 2;
  height: 32px;
  @media (max-width: 500px) {
    margin-bottom: 1rem;
  }

  &__open {
    display: block;
  }

  &__toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 6px;
    outline: 0;
    border: 0;
    background: none;
    &-text {
      padding: 0 4px;
      color: var(--text);
    }

    &-bg {
      fill: var(--svg-button);
    }
  }
}
