.login {
  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &-caption {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1.25rem;
    color: #ccc;
  }

  &-background {
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    background-image: url('/dist/public/login.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 77px);
    overflow: hidden;

    @media (max-width: 900px) {
      display: none;
    }

    &__adduser {
      background-image: url('/dist/public/login.jpg');
    }

    img {
      width: auto;
      height: 100vh;
      object-fit: cover;
      object-position: center center;
    }
  }

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 900px) {
      height: calc(100vh - 77px);
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0;
    label {
      padding: 0 0.25rem 0 0;
      line-height: 22px;
    }
  }

  &-submit {
    padding-top: 1rem;
  }

  &-error {
    @extend .alert;
    margin-top: 1rem;
    width: 250px;
    height: 24.5px;
    font-size: 14px;
    line-height: 21px;
  }

  label,
  .btn {
    font-size: 14px;
    line-height: 21px;
  }

  input,
  select {
    width: 250px;
    height: 32px;
  }
}
