$color_1: white;
$background-color_1: rgba(255, 255, 255, 0.15);
$background-color_2: rgba(255, 255, 255, 0.3);
$border-color_1: rgba(255, 255, 255, 0.7);

.hidden {
  display: none;
}

.menu {
  margin: 0.5rem 0 0 0;
  padding: 0;
  ul {
    margin-bottom: 0px;
    padding-left: 2px;
  }
  li {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    transition: 0.1s;
    margin: 4px 0;
    border: 1.5px solid var(--border);
    border-radius: 6px;
    background-color: var(--background-row);
    height: 2rem;
    list-style: none;

    &:last-child {
      margin-bottom: 0px;
    }
    &:hover {
      border-color: var(--border-hover-dark);
      a {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
  &--a {
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: 0.1s;
    padding: 4px 8px 4px 0;
    width: 100%;
    height: 100%;
    color: $link;
    font-size: 14px;
    line-height: 20px;
    word-wrap: anywhere;
    padding-left: 18px;
    &__child {
      padding-left: 6px;
    }
  }
  button {
    align-self: baseline;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 6px;
    background: none;
    height: 28px;
    color: var(--color-link);
  }
  &--trigger {
    width: 27px;

    &:after {
      content: var(--arrow-closed);
    }
  }
  &--toggle {
    width: 100%;
    max-width: 100%;
    line-height: 1.2;
    text-align: left;
  }
  &--open {
    > li > .menu--trigger {
      margin-top: 0px;
      &:after {
        content: var(--arrow-open);
      }
    }
  }
  &--bold {
    font-weight: 600;
    a {
      color: var(--color-link);
    }
  }
  &--active {
    opacity: 1;
  }
  &--sub {
    margin-left: 1rem;
    border-left: 1.5px solid rgba(255, 255, 255, 0.15);
    padding-left: 1rem;
  }
  &--group:first-child {
    .menu--a {
      padding-left: 12px;
    }
  }
  &--img {
    padding: 0 4px;
    width: auto;
  }
}
