.table {
  margin-bottom: 0;
  width: 100%;

  thead {
    border-bottom: 1px solid #e6e6ea;
    tr {
      background-color: var(--background-alt);
    }
  }

  tr {
    border: 1px solid #e6e6ea;
    border-radius: 8px;
    background-color: var(--background);
    &:nth-child(2n) {
      background-color: var(--background-alt);
      color: var(--text);
    }
  }
  td {
    padding: 8px 30px 8px 10px;
    text-align: left;
    a {
      font-size: 14px;
    }
    li {
      font-size: 14px;
    }
  }
  th {
    padding: 8px 30px 8px 10px;
    text-align: left;
    a {
      font-size: 14px;
    }
    li {
      font-size: 14px;
    }
  }
}
