.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0 0 0;
  padding: 0;
  overflow: hidden;
  line-height: 24px;
  list-style: none;

  &-item {
    float: left;

    &__link {
      display: inline-block;
      transition: border 0.1s ease-in-out;
      border: 1px solid transparent;
      border-radius: 2px;
      background-color: $gray-3;
      padding-right: 8px;
      padding-left: 8px;
      color: $gray-2;
      font-size: 14px;
      line-height: 26px;
      text-decoration: none;

      &:hover {
        border: 1px solid $border-gray;
        text-decoration: none;
      }
    }
  }
}
