.bg-alt {
  background: var(--background);
}

.section {
  &-folders,
  &-tags {
    background-color: var(--background-alt);
  }
}

.bg-success {
  background-color: var(--background-success);
}

.bg-error {
  background-color: #ef4444;
}

.bg-blue {
  background-color: $blue;
}
