.grid {
  display: grid;
  margin: 0 auto;
  grid-gap: 2rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &-small {
    grid-gap: 1rem;

    @media (min-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  &-medium {
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
