.site-nav {
  position: sticky;
  top: 0;
  z-index: 4;
  transition: all 0.2s;
  box-shadow: rgb(55, 62, 71) 0px -1px 0px 0px inset;
  background: $dark-gray;
  height: 40px;

  &__hidden {
    transition: all 0.2s;
    height: 0;
    overflow: hidden;
  }
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-right: -0.5rem;
  margin-left: -1rem;
  height: 40px;
  overflow: hidden;

  &-open {
    @media (max-width: 900px) {
      height: 100vh;
    }
  }

  &-item {
    transition: background 0.1s;
    padding: 1rem 0;
    font-size: 14px;

    @media (max-width: 900px) {
      padding: 0;
      &:first-of-type {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
      }
      &:last-of-type {
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 13px 0.5rem;
      color: $white;

      @media (max-width: 900px) {
        padding: 13px 2rem;
      }
    }

    svg {
      padding-right: 6px;
    }

    &__active,
    &:hover {
      background: $hover-gray;
    }

    &__button {
      display: flex;
      svg {
        padding: 0.5rem;
      }
    }

    &__spin {
      animation: spin 1s linear infinite;
    }

    &__hide-mobile {
      @media (max-width: 900px) {
        display: none;
      }
    }

    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &-logo {
    margin: 1rem;
    padding: 17px 0;

    @media (max-width: 900px) {
      margin: 6px 0px auto 16px;
      padding: 0;
    }

    &__icon {
      padding-right: 0.5rem;
    }

    &__text {
      display: flex;
      align-items: center;
      color: $white;
    }
  }

  &-search {
    margin: 0.2rem 1rem;

    &__input {
      flex: 1 1 auto;
      box-sizing: border-box;
      outline: 0;
      box-shadow: none;
      border: 0;
      border-radius: 4px;
      background: hsla(0, 0%, 100%, 0.8);
      padding: 0.25rem;
      height: 27px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-toggle {
    display: none;
    @media (max-width: 900px) {
      display: flex;
      position: absolute;
      top: 5px;
      right: 0;
      align-items: center;
    }

    &__btn {
      display: flex;
      gap: 4px;
      cursor: pointer;
      outline: 0;
      border: 0;
      background: none;
      color: $white;
    }
  }

  &-left {
    display: flex;
    right: 0;

    @media (max-width: 900px) {
      display: block;
      position: absolute;
      top: 50px;
      right: -160px;
      z-index: 10;
      transition: 0.1s right ease-in-out;
      border: 1px solid var(--border);
      border-radius: 12px;
      background: $dark-gray;
      width: 158px;
      &__open {
        right: 6px;
      }
    }
  }
}
