@each $space, $value in $site-spacing {
  .p-#{$space} {
    padding: $value;
  }
  .m-#{$space} {
    margin: $value;
  }

  .pt-#{$space} {
    padding-top: $value;
  }
  .mt-#{$space} {
    margin-top: $value;
  }

  .pb-#{$space} {
    padding-bottom: $value;
  }
  .mb-#{$space} {
    margin-bottom: $value;
  }

  .pl-#{$space} {
    padding-left: $value;
  }
  .ml-#{$space} {
    margin-left: $value;
  }

  .pr-#{$space} {
    padding-right: $value;
  }
  .mr-#{$space} {
    margin-right: $value;
  }

  .px-#{$space} {
    padding-right: $value;
    padding-left: $value;
  }
  .mx-#{$space} {
    margin-right: $value;
    margin-left: $value;
  }

  .py-#{$space} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .my-#{$space} {
    margin-top: $value;
    margin-bottom: $value;
  }
}
