.text-center {
  text-align: center;
}

.wrapper {
  margin: 0 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @media (min-width: 900px) {
    max-width: 80%;
  }

  @media (max-width: 900px) {
    max-width: 90%;
  }

  &__borderless {
    @media (max-width: 900px) {
      max-width: 100%;
    }
  }
}

.spacer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;
}

.flex-col {
  flex-direction: column;
}

.maxw-250 {
  max-width: 250px;
}

.active {
  font-weight: 600;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.w-350 {
  width: 350px;
}

.br-4 {
  border-radius: 4px;
}

.br-8 {
  border-radius: 8px;
}

.text-white {
  color: $white;
}

.z-3 {
  z-index: 3;
}

.p-0 {
  padding: 0px;
}
.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.pb-0 {
  padding-bottom: 0px;
}
.pt-0 {
  padding-top: 0px;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mr-2 {
  margin-right: 0.5rem;
}

progress[value]::-webkit-progress-value {
  background-color: #ffffff;
}

progress::-webkit-progress-bar {
  background-color: #9ca3af;
}

.w-full {
  width: 100%;
}

[hidden]:where(:not([hidden='until-found'])) {
  display: none;
}
