// colors
$white: #fff;
$gray: #6f6f6f;
$black: rgb(17, 17, 17);
$blue: #0064bb;
$blue1: #0071d3;
$hover-gray: #545454;
$light-text: #737b80;
$light-gray: #f3f5f6;
$button-gray: #737373;
$gray-1: #dfdfdf;
$gray-2: #545454;
$gray-3: #eee;
$gray-4: #b9b9b9;
$gray-5: rgb(182, 174, 164);
$gray-6: #848586;
$gray-10: #56627399;
$dark-gray: rgba(21, 21, 23, 0.95);
$go: #74cddd;
$link: #3191ff;
$active: #119d11;

// text
$text-heading: $black;
$text-heading-dark: rgb(226, 223, 218);
$text-color: #393946;
$text-color-dark: #c3bdb5;
$text-gray: rgb(84, 84, 84);
$text-gray-dark: rgb(158, 150, 136);

// backgrounds
$background-light: $light-gray;
$background-dark: rgb(19, 21, 22);
$background-dark-alt: rgb(29, 31, 34);
$background-light-alt: $white;
$background-media: rgb(45, 51, 59);
$background-media-dark: rgb(31, 37, 43);
$background-green-1: #090;

// borders
$border-gray: #939393;
$border-gray-dark: rgb(65, 70, 73);

:root {
  --background: #{$background-light};
  --background-alt: #{$gray-3};
  --background-row: #{$white};
  --background-inverse: #{$white};
  --background-media: #{$background-media};
  --border: #{$gray-4};
  --border-hover: #{$gray-1};
  --border-hover-dark: #{$gray-6};
  --text: #{$text-color};
  --text-gray: #{$text-gray};
  --text-heading: #{$text-heading};
  --code: #{$gray-2};
  --svg-button: #{$black};
  --button-disabled: #{$gray-4};
  --timeline-item: #{$gray-4};
  --timeline-active: #{$gray};
  --timeline-hover: #{$black};
  --background-success: #{$background-green-1};
  --background-select: url('../svg/select-arrow.svg');
  --arrow-closed: url('../svg/arrow-closed.svg');
  --arrow-open: url('../svg/arrow-open.svg');
}

html[data-theme='dark'] {
  --background: #{$background-dark};
  --background-alt: #{$background-dark-alt};
  --background-row: #{$background-dark-alt};
  --background-inverse: #{rgb(19, 21, 22)};
  --background-media: #{$background-media-dark};
  --border: #{$border-gray-dark};
  --border-hover: #{$gray-1};
  --border-hover-dark: #{$gray-1};
  --text: #{$text-color-dark};
  --text-gray: #{$text-gray-dark};
  --text-heading: #{$text-heading-dark};
  --code: #{$gray-5};
  --svg-button: #{$light-gray};
  --button-disabled: #{$gray-6};
  --timeline-item: #{$gray-6};
  --timeline-active: #{$gray-3};
  --timeline-hover: #{$white};
  --background-success: #{$background-green-1};
  --background-select: url('../svg/select-arrow-dark.svg');
  --arrow-closed: url('../svg/arrow-closed-dark.svg');
  --arrow-open: url('../svg/arrow-open-dark.svg');
}

$site-spacing: () !default;
$site-spacing: map-merge(
  (
    '0': 0,
    '1': 0.5rem,
    '2': 1rem,
    '4': 2rem,
  ),
  $site-spacing
);
