{{ define "title" }}
  Add user | rgallery
{{ end }}

{{ define "main" }}
  <div class="login" x-data="login()">
    <div class="login-form">
      <div>
        <h1>Add user</h1>
        <form action="/signup" method="post">
          <div class="login-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autofocus />
          </div>
          <div class="login-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
          </div>
          <div class="login-group">
            <label for="role">Role</label>
            <select name="role" id="role-select">
              <option value="admin">Admin</option>
              <option value="viewer">Viewer</option>
            </select>
          </div>
          <div class="login-group login-submit">
            <input class="btn btn-primary" type="submit" value="Submit" />
          </div>
          <div class="login-group alert my-1" x-show="error" x-cloak>Error adding user.</div>
        </form>
      </div>
    </div>
    <div class="login-background login-background__adduser"></div>
  </div>
{{ end }}
