{{ define "title" }}
  Admin | rgallery
{{ end }}

{{ define "main" }}
  <div class="content" style="margin-bottom: 5rem;">
    <div class="wrapper">
      <h1>Admin</h1>
      {{ with .UserName }}
        Welcome, {{ . }}!
      {{ end }}
      <hr />
      <h2>Options</h2>
      <span class="theme">
        <input
          onclick="toggle()"
          id="theme-input"
          class="theme-input"
          type="checkbox"
          name="theme"
          value="1"
          autocomplete="off"
        />
        <label for="theme-input" class="theme-label body-default">Dark mode</label></span
      >
      <hr />
      {{ if or (eq .UserRole "admin") (eq .HideAuth true) }}
        <h2>Media library</h2>
        <span x-data="scan()">
          <div>Scan for new, modified, and deleted items.</div>
          <button class="btn btn-link" @click="scan('default')">
            <span
              x-text="status.charAt(0).toUpperCase()
              + status.slice(1)"
            ></span>
          </button>
        </span>
        <span x-data="scan()">
          <div>Rescan all existing items without recreating thumbnails.</div>
          <button class="btn btn-link" @click="scan('metadata')">
            Metadata <span x-text="status.toLowerCase()"></span>
          </button>
        </span>
        <span x-data="scan()">
          <div>Rescan all existing items and recreate thumbnails.</div>
          <button class="btn btn-link" @click="scan('deepscan')">Deep <span x-text="status"></span></button>
        </span>
        <span x-data="scan()">
          <div>Check for missing thumbnails and generate any missing ones.</div>
          <button class="btn btn-link" @click="scan('thumbscan')">Thumb <span x-text="status"></span></button>
        </span>
        <hr />

        {{ if eq .HideAuth false }}
          <h2>User management</h2>
          {{ with .Users }}
            <table class="table">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Role</th>
                  <th>
                    <!-- Action -->
                  </th>
                </tr>
              </thead>
              <tbody>
                {{ range . }}
                  <tr>
                    <td>
                      {{ .Username }}
                    </td>
                    <td>
                      {{ .Role }}
                    </td>
                    <td>
                      <!--<form action="/admin/user/delete" method="post">
                        <button class="btn btn-primary btn-slim" name="name" value="{{ .Username }}">Delete</button>
                      </form>-->
                    </td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          {{ end }}
          <div class="my-1">
            <a class="btn btn-primary btn-slim" href="/adduser">Add user</a>
          </div>
          <div class="my-1">
            <a class="btn btn-primary btn-slim" href="/logout">Logout</a>
          </div>
          <hr />
          <h2>API keys</h2>
          {{ with .Key.Key }}
            <div>Key created successfully. Save this key as it will never be shown again.</div>
            <div class="mb-1 bg-success p-1 br-8">
              <code class="text-white">{{ . }}</code>
            </div>
          {{ end }}
          {{ with .Keys }}
            <table class="table">
              <thead>
                <th>Name</th>
                <th>Created</th>
                <th></th>
              </thead>
              <tbody>
                {{ range . }}
                  <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Created }}</td>
                    <td>
                      <form action="/admin/keys/delete" method="post">
                        <button class="btn btn-primary btn-slim" name="name" value="{{ .Name }}">Delete</button>
                      </form>
                    </td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          {{ else }}
            <p>No API keys found.</p>
          {{ end }}
          <div class="mt-2">
            <h4>Add API key</h4>
            <p>Admin keys are granted admin-level access and should be treated like passwords.</p>
            <div class="login" x-data="login()">
              <form action="/admin/keys/create" method="post" autocomplete="false">
                <div class="login-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" />
                </div>
                <div class="login-group login-submit">
                  <input class="btn btn-primary" type="submit" value="Add key" />
                </div>
                <div class="login-group login-error" x-show="error" x-cloak>Error adding API key.</div>
              </form>
            </div>
          </div>
        {{ end }}
      {{ else }}
        <a class="btn btn-primary btn-slim" href="/logout">Logout</a>
      {{ end }}

    </div>
  </div>
{{ end }}
