{{ define "title" }}
  Folders | rgallery
{{ end }}

{{ define "main" }}
  <div class="content">
    <div class="wrapper">
      <div class="title">
        <h1 class="title-h1">{{ .Title }}</h1>
        <span class="title-total">{{ formatInt .Total }} {{ .Total | plural "item" "items" }}</span>
      </div>
      <div x-data="menu()">
        <ul class="menu">
          {{ range .Folders }}
            <div class="menu--group" data-path="{{ .Path }}">
              <li>
                {{ if .Children }}
                  <button class="menu--trigger" @click="toggle('{{ .Path }}')"></button>
                {{ end }}
                {{ if .Media }}
                  {{ $path := .Path }}
                  {{ $name := .Name }}
                  {{ if eq $path "." }}
                    {{ $path = "root" }}
                    {{ $name = "/" }}
                  {{ end }}
                  <a class="menu--a {{ if .Children }}menu--a__child{{ end }}" href="/folder/{{ $path }}"
                    >{{ $name }}
                    ({{ .ImageCount }}
                    {{ .ImageCount | plural "item" "items" }})
                    {{ range .Media }}
                      <img
                        class="menu--img lazyload"
                        data-src="/img/{{ .Hash }}/200"
                        width="20"
                        height="20"
                        alt="{{ .Path }}"
                      />
                    {{ end }}
                  </a>
                {{ else if .Children }}
                  <button class="menu--toggle" @click="toggle('{{ .Path }}')">{{ .Name }}</button>
                {{ else }}
                  <span>{{ .Name }}</span>
                {{ end }}
              </li>
              {{ template "folder" . }}
            </div>
          {{ end }}
        </ul>
      </div>
      {{ if eq (len .Folders) 0 }}
        {{ template "no-media" . }}
      {{ end }}
    </div>
  </div>
{{ end }}
