{{ define "title" }}
  Gear stats | rgallery
{{ end }}

{{ define "main" }}
  <div class="content">
    <div class="wrapper mb-4">
      <div class="title">
        <h1 class="title-h1">{{ .Title }}</h1>
      </div>
      <div class="gear-grid">
        {{ with .Cameras }}
          <table class="gear-table">
            <th>Camera</th>
            <th>Total</th>
            {{ range . }}
              <tr>
                <td>
                  <a href="/?camera={{ .Name }}"><code>{{ .Name }}</code></a>
                </td>
                <td class="image-meta__small">{{ .Total }}</td>
              </tr>
            {{ end }}
          </table>
        {{ end }}
        {{ with .Lenses }}
          <table class="gear-table">
            <th>Lenses</th>
            <th>Total</th>
            {{ range . }}
              <tr>
                <td>
                  <a href="/?lens={{ .Name }}"><code>{{ .Name }}</code></a>
                </td>
                <td class="image-meta__small">{{ .Total }}</td>
              </tr>
            {{ end }}
          </table>
        {{ else }}
          <p>No lenses found.</p>
        {{ end }}
      </div>
      <div class="gear-grid">
        {{ with .FocalLength35 }}
          <table class="gear-table">
            <th>FocalLength35</th>
            <th>Total</th>
            {{ range . }}
              <tr>
                <td>
                  <code><a href="/?focallength35={{ .Name }}">{{ .Name }}mm</a></code>
                </td>
                <td class="image-meta__small">{{ .Total }}</td>
              </tr>
            {{ end }}
          </table>
        {{ end }}
        {{ with .Software }}
          <table class="gear-table">
            <th>Software</th>
            <th>Total</th>
            {{ range . }}
              <tr>
                <td>
                  <code><a href="/?software={{ .Name }}">{{ .Name }}</a></code>
                </td>
                <td class="image-meta__small">{{ .Total }}</td>
              </tr>
            {{ end }}
          </table>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
