{{ define "title" }}
  {{ .Title }} | rgallery
{{ end }}

{{ define "main" }}
  <div class="content">
    <div class="wrapper">
      <div>
        <div class="title">
          <h1 class="title-h1">{{ .Title }}</h1>
          <span class="title-total">
            <span>{{ formatInt .Total }}</span>
            <span>{{ .Total | plural "item" "items" }}</span>
          </span>
        </div>
        {{ if .MediaItems }}
          <div
            class="flex-images"
            id="images"
            data-size="{{ if eq $.Collection "favorites" }}
              800
            {{ else }}
              400
            {{ end }}"
            data-turbo-cache="false"
          >
            {{ range .MediaItems }}
              <figure
                class="item item-{{ .Type }}"
                itemprop="associatedMedia"
                data-w="{{ .Width }}"
                data-h="{{ .Height }}"
                itemscope=""
                itemtype="http://schema.org/ImageObject"
              >
                {{ $slug := $.Slug }}
                {{ if eq $slug "." }}
                  {{ $slug = "root" }}
                {{ end }}
                <a
                  class="item__bg"
                  href="/media/{{ .Hash }}/in/{{ $.Collection }}{{ if ne $.Title "Favorites" }}/{{ $slug }}{{ end }}"
                  data-ratio="{{ .Ratio }}"
                  itemprop="contentUrl"
                  style="{{ with .Color }}background-color: {{ . }};{{ end }}padding-bottom: {{ mulf 100 .Ratio }}%;"
                >
                  {{ template "img" . }}
                </a>
              </figure>
            {{ end }}
          </div>
        {{ else }}
          {{ template "no-media" . }}
        {{ end }}
      </div>
    </div>
  </div>
  {{ template "pagenav" . }}
{{ end }}
