{{ define "title" }}
  {{ .Media.Path }} | rgallery
{{ end }}

{{ define "main" }}
  <div
    x-data="media({{ .Media | toJson }}, {{ .Previous | toJson }}, {{ .Next | toJson }}, '{{ .Collection }}', '{{ .Slug | urlquery }}', '{{ .TileServer }}')"
    class="main-image"
    :class="{ 'fullscreen-image' : $store.fullscreen, 'fullscreen-zoom' : $store.zoom  }"
  >
    <div class="image-fit">
      {{/* top image icons */}}
      <div class="image-top">
        <a
          class="image-top__back"
          :href="document.referrer"
          aria-labelledby="return-label"
          title="Return to collection"
        >
          <span id="return-label" hidden>Return to collection</span>
        </a>
        <div class="image-top__right">
          <button
            @click="toggleZoom"
            class="image-top__zoom"
            :class="{'image-top__zoom-enabled' : $store.zoom }"
            aria-labelledby="zoom-label"
            title="View image at 100% (z)"
            x-show="media.type === 'image'"
          >
            <span id="zoom-label" hidden>View image at 100% (z)</span>
          </button>
          <button
            @click="toggleFullscreen"
            class="image-top__full"
            :class="{'image-top__full-enabled' : $store.fullscreen }"
            aria-labelledby="fullscreen-label"
            title="View image in fullscreen (f)"
            :disabled="$store.zoom"
          >
            <span id="fullscreen-label" hidden>View image in fullscreen (f)</span>
          </button>
        </div>
      </div>

      {{ with .Media }}
        {{/* side image icons */}}
        <div class="image-fit__assets-arrows" x-cloak>
          <div class="image-fit__assets-left" x-show="previous && previous[0]">
            <button
              class="image-fit__assets-prev"
              @click="navigatePrev()"
              aria-labelledby="previous-label"
              title="Previous image"
            >
              <span id="previous-label" hidden>Previous image</span>
            </button>
          </div>
          <div class="image-fit__assets-right" x-show="next && next[0]">
            <button
              class="image-fit__assets-next"
              @click="navigateNext()"
              aria-labelledby="next-label"
              title="Next image"
            >
              <span id="next-label" hidden>Next image</span>
            </button>
          </div>
        </div>

        {{/* main image display */}}
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <div class="glide__slides" x-ref="slides">
              <figure
                class="image-fit__figure"
                itemprop="associatedMedia"
                itemscope=""
                itemtype="http://schema.org/ImageObject"
              >
                <div class="image-fit__container">
                  {{ if eq .Type "video" }}
                    {{ $orientation := "horizontal" }}
                    {{ if gt .Ratio (float64 1) }}
                      {{ $orientation = "vertical" }}
                    {{ end }}
                    <video
                      id="video-{{ .Hash }}"
                      class="image-fit__video image-fit__video-{{ $orientation }}"
                      style="aspect-ratio: {{ .Width }} / {{ .Height }};"
                      controls
                    ></video>
                  {{ end }}
                  {{ if eq .Type "image" }}
                    <img
                      class="image-fit__img"
                      srcset="{{ .Srcset }}"
                      sizes="100vw"
                      src="data:image/gif;base64,R0lGODlhQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    />
                  {{ end }}

                </div>
              </figure>
            </div>
          </div>
        </div>
      {{ end }}

      {{/* image thumb navigation */}}
      <div class="image-nav">
        <template x-for="(img, index) in mediaItems" :key="img.hash">
          <a
            :href="`/media/${img.hash}${window.location.search}`"
            class="image-nav__link"
            :style="`background-color: ${img.color}`"
            @click.prevent="navigateTo(media.hash, img, true, index)"
            :title="img.path"
          >
            <img
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              :data-src="`/img/${img.hash}/200`"
              :alt="img.path"
              width="35"
              height="35"
              class="image-nav__img lazyload"
              :class="{'image-nav__active' : img.hash === media.hash }"
            />
          </a>
        </template>
      </div>
    </div>

    {{/* image meta UI */}}
    {{ with .Media }}
      <div class="image-meta">
        <div class="image-meta__container">
          <div>
            <div class="mb-1">
              <h1 class="image-meta__title" x-text="media.title">{{ .Title }}</h1>
              <h2 class="image-meta__description" x-text="media.description">
                {{ .Description }}
              </h2>
            </div>
            <div class="mb-1">
              <div class="image-meta__heading">Created on</div>
              <div>
                <a
                  class="image-meta__link"
                  :href="`/?date=${formatDay(media.date)}`"
                  href="/?date={{ .Date | date `2006-01-02` }}"
                  :title="media.date"
                  x-text="displayDate(media.date, media.offset)"
                  >{{ formatLocalDate .Date .Offset }}</a
                >
              </div>
            </div>
            <div class="mb-1">
              <div class="image-meta__heading">Modified on</div>
              <div>
                <span class="image-meta__text" :title="media.modified" x-text="displayDate(media.modified, 0.0)"
                  >{{ formatLocalDate .Modified 0.0 }}</span
                >
              </div>
            </div>

            <div class="mb-1">
              <div class="image-meta__heading">Filepath</div>
              <div class="image-meta__link">
                <button
                  class="image-meta__filepath"
                  @click="navigator.clipboard.writeText(media.path)"
                  title="Copy to clipboard"
                  x-text="media.path"
                >
                  {{ trimPrefix "images/" .Path }}
                </button>
              </div>
            </div>

            <div class="mb-1">
              <div class="image-meta__heading">Folder</div>
              <a
                class="tags-item__link"
                href="/folder/{{ .Folder | urlquery }}"
                :href="`/folder/${encodeTagKey(media.folder)}`"
                x-text="media.folder"
                >{{ .Folder }}</a
              >
            </div>

            <template x-if="media && media.subjects && media.subjects.length">
              <div class="mb-1">
                <div class="image-meta__heading">Tags</div>
                <ul class="tags">
                  <template x-for="(subject, index) in media.subjects" :key="index">
                    <li class="tags-item">
                      <a class="tags-item__link" :href="`/tag/${encodeTagKey(subject.key)}`" x-text="subject.value"></a>
                    </li>
                  </template>
                </ul>
              </div>
            </template>

            {{ with .Subject }}
              <noscript>
                <div class="mb-1">
                  <div class="image-meta__heading">Tags</div>
                  <ul class="tags">
                    {{ range . }}
                      <li class="tags-item">
                        <a class="tags-item__link" href="/tag/{{ .Key | urlquery }}">{{ .Value }}</a>
                      </li>
                    {{ end }}
                  </ul>
                </div>
              </noscript>
            {{ end }}

          </div>
          <div>
            <div class="mb-1" x-show="media.camera">
              <div class="image-meta__heading ">Camera</div>
              <a class="image-meta__link" :href="`/?camera=${media.camera}`" x-text="media.camera">{{ .Camera }}</a>
            </div>

            <div class="mb-1" x-show="media.lens">
              <div class="image-meta__heading">Lens</div>
              <a class="image-meta__link" :href="`/?lens=${media.lens}`" x-text="media.lens">{{ .Lens }}</a>
            </div>

            <div class="mb-1">
              <div class="image-meta__heading mb-1">Rating</div>
              <div class="d-flex">
                <div class="star-rating star-rating__no-hover">
                  {{ range list 5 4 3 2 }}
                    <input type="radio" id="star{{ . }}" name="rating" value="{{ . }}" x-model="media.rating" />
                    <label for="star{{ . }}" :title="`Exif rating: ${media.rating}`">Exif rating: {{ . }}</label>
                  {{ end }}
                  <input type="radio" id="star1" name="rating" value="0" x-model="media.rating" />
                  <label for="star1" :title="`Exif rating: ${media.rating}`">Exif rating: {{ .Rating }}</label>
                </div>
              </div>
            </div>

            <div class="mb-1">
              <div
                class="image-meta__heading"
                x-show="media.aperture || media.shutterspeed || media.iso || media.focallength || media.focalLength35 || media.focusDistance || (media.width && media.height)"
              >
                Exif
              </div>
              <div class="maxw-250 mb-1">
                <div class="grid grid-medium" x-show="media.aperture">
                  <code x-text="`f/${media.aperture}`">f/{{ .Aperture }}</code>
                  <span class="image-meta__small">Aperture</span>
                </div>
                <div class="grid grid-medium" x-show="media.shutterspeed">
                  <code x-text="media.shutterspeed">{{ .ShutterSpeed }}</code>
                  <span class="image-meta__small">Shutterspeed</span>
                </div>
                <div class="grid grid-medium" x-show="media.iso">
                  <code x-text="media.iso">{{ .Iso }}</code> <span class="image-meta__small">ISO</span>
                </div>
                <div class="grid grid-medium" x-show="media.focallength">
                  <code x-text="`${media.focallength}mm`">{{ .Focallength }}mm</code>
                  <span class="image-meta__small">Focal length</span>
                </div>
                <div class="grid grid-medium" x-show="media.focalLength35">
                  <code x-text="`${media.focalLength35}mm`">{{ .FocalLength35 }}mm</code>
                  <span class="image-meta__small">Focal length (35mm)</span>
                </div>
                <div class="grid grid-medium" x-show="media.focusDistance">
                  <code x-text="`${media.focusDistance.toFixed(2)}m`">{{ formatFloat .FocusDistance "f" 2 }}m</code>
                  <span class="image-meta__small">Focal distance</span>
                </div>
                <div class="grid grid-medium" x-show="media.width && media.height">
                  <code x-text="`${media.width}x${media.height}`">{{ .Width }}x{{ .Height }}</code>
                  <span class="image-meta__small">Resolution</span>
                </div>
                <div class="grid grid-medium" x-show="media.width && media.height">
                  <code x-text="((media.width * media.height) / 1000000).toFixed(2)"
                    >{{ formatFloat (divf (mul .Width .Height) 1000000.0) "f" 2 }}</code
                  >
                  <span class="image-meta__small">Megapixels</span>
                </div>
                <div class="grid grid-medium" x-show="media.width && media.height">
                  <code x-text="media.rating">{{ .Rating }}</code>
                  <span class="image-meta__small">Rating</span>
                </div>
                <div class="grid grid-medium" x-show="media.software">
                  <code x-text="media.software">{{ .Software }}</code>
                  <span class="image-meta__small">Software</span>
                </div>
                <div class="grid grid-medium" x-show="media.offset">
                  <code x-text="media.offset.toFixed(2)">{{ formatFloat .Offset "f" 2 }}</code>
                  <span class="image-meta__small">UTC offset</span>
                </div>
                <div class="grid grid-medium" x-show="media.color">
                  <div
                    class="image-color"
                    style="background-color: {{ .Color }};"
                    :style="{ 'background-color': media.color }"
                  ></div>
                  <span class="image-meta__small">Dominant color</span>
                </div>
              </div>
            </div>
            <div class="mb-1">
              <a
                class="btn btn-primary btn-slim body-small"
                href="/media-originals/{{ .Path }}"
                :href="`/media-originals/${media.path}`"
                download
                title="Download original file"
              >
                Download original file
              </a>
            </div>
            {{/* <button @click="rescan()" :disabled="scanning === 'Scanned'" x-text="scanning"></button> */}}
          </div>

          {{/* placeholder to prevent reflow for map elements */}}
          {{ with .Location }}
            <div></div>
          {{ end }}

        </div>
      </div>
    {{ end }}

  </div>
{{ end }}
