{{ define "title" }}
  {{ .Title }} | rgallery
{{ end }}

{{ define "main" }}
  <div class="content pb-4">
    <div class="wrapper">
      <div>
        <div class="title">
          <h1 class="title-h1">{{ .Title }}</h1>
          <span class="title-total">{{ formatInt .Total }} {{ .Total | plural "item" "items" }}</span>
        </div>
        <div class="grid grid-small">
          {{ range .Tags }}
            <a class="card card-tag" href="/tag/{{ .Key | urlquery }}">
              <div class="card-content card-content__small">
                {{ .Value }}
              </div>
            </a>
          {{ end }}
        </div>
        {{ if eq (len .Tags) 0 }}
          {{ template "no-media" . }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
