{{ define "title" }}
  Timeline | rgallery
{{ end }}

{{ define "main" }}
  <div x-data="timeline()">
    <div x-show="$store.data.memories_ui.open && onThisDay.length > 0 && !isFilterActive()" x-cloak x-transition>
      <div class="content">
        <div class="wrapper">
          <div class="collection-wrap br-8">
            <div class="collection-wrap__heading">
              <h2 class="collection-wrap__title">Memories</h2>
              <button class="btn btn-primary btn-slim" @click="hideMemories()">Dismiss</button>
            </div>
            <div class="collection-wrap__items">
              <template x-for="(day, index) in onThisDay" :key="index">
                <div class="day">
                  <div :class="`photo-card photo-card__total-${day.total}`">
                    <template x-for="(media, index) in day.media" :key="index">
                      <div
                        :class="`photo-card__${index} photo-card__hover`"
                        :style="`background-color: ${media.color}`"
                      >
                        <a :href="`/media/${media.hash}`">
                          <img
                            :data-srcset="media.srcset"
                            class="lazyload"
                            data-sizes="auto"
                            :alt="media.path"
                            :width="media.width"
                            :height="media.height"
                          />
                        </a>
                        <div x-show="index + 1 === day.media.length">
                          <div class="photo-card__count">
                            <div class="photo-card__count-item">
                              {{ readFile "photo-card.svg" }}
                            </div>
                            <p class="photo-card__count-total" x-text="day.total"></p>
                          </div>
                        </div>
                      </div>
                    </template>
                  </div>
                  <button
                    class="btn btn-empty w-100 photo-card__cta"
                    @click="scrollToDate(day.value)"
                    title="Scroll to date"
                  >
                    <span class="heading-day" x-text="`${day.key} year${day.key === '1' ? '' : 's'} ago &darr;`"></span>
                  </button>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline">
      {{/* timeline calendar */}}
      <div class="timeline-wrap" id="timeline-wrap" :class="{ 'timeline-wrap__active' : mobile.timeline.open }">
        <div class="timeline-calendar">
          <div class="timeline-calendar__container">
            <template x-for="([year, value], index) in Object.entries(timeline).reverse()" :key="index">
              <div class="timeline-year">
                <div class="timeline-year__text" x-text="year"></div>
                <template x-for="(section, index) in value" :key="index">
                  <div class="timeline-date">
                    <button
                      class="btn btn-empty"
                      :class="{ 'timeline-date__active' : current === section.sectionId }"
                      :title="`${humanizeDate(section.sectionId)} - ${section.totalItems} items`"
                      @click="scrollToDate(section.segments[0].s)"
                    >
                      <div class="timeline-date__line" :style="{ width: `${calcMax(section.totalItems)}px` }"></div>
                      <div class="timeline-date__text" x-text="humanizeDateShort(section.sectionId)"></div>
                    </button>
                  </div>
                </template>
              </div>
            </template>
          </div>
        </div>
      </div>
      {{/* filter bar */}}
      <div class="content pb-0">
        <div class="wrapper">
          <div class="index">
            <div class="filter-ui">
              <div class="index-search">
                <form
                  class="index-search__form"
                  @submit.prevent="fetch(true)"
                  @keyup.escape="reset()"
                  @keyup.backspace="backspace()"
                  autocomplete="off"
                >
                  <div class="index-search__rating">
                    <div class="star-rating">
                      {{ range list 5 4 3 2 }}
                        <input
                          type="radio"
                          id="star{{ . }}"
                          name="rating"
                          value="{{ . }}"
                          @change="showRating({{ . }})"
                          :checked="$store.data.model.rating === {{ . }}"
                        />
                        <label for="star{{ . }}" title="Show {{ . }} star rated media and above only"
                          >{{ . }} stars</label
                        >
                      {{ end }}
                      <input
                        type="radio"
                        id="star1"
                        name="rating"
                        value="0"
                        @change="showRating(0)"
                        :checked="$store.data.model.rating === 0"
                      />
                      <label for="star1" title="Show all media">All media</label>
                    </div>
                  </div>

                  <input
                    class="index-input index-input__search"
                    type="text"
                    placeholder="Search..."
                    x-model="$store.data.model.term"
                  />
                </form>

                <button
                  class="btn btn-primary btn-slim btn-short btn-search"
                  @click="fetch(true)"
                  aria-labelledby="search-label"
                  title="Search"
                  disabled
                  :disabled="$store.data.model.term === ''"
                >
                  <span id="search-label" hidden>Search</span>
                </button>
                <button
                  class="btn btn-primary btn-slim btn-short btn-reset"
                  @click="reset()"
                  aria-labelledby="reset-label"
                  title="Reset"
                  disabled
                  :disabled="$store.data.model.term === ''"
                  {{/* :disabled="!showReset()" */}}
                >
                  <span id="reset-label" hidden>Reset</span>
                </button>
              </div>
            </div>
            <div class="title">
              <h1 class="title-h1">Timeline</h1>
              <span class="title-total" x-show="loaded" x-cloak>
                <span x-text="window.numberWithCommas(total)">{{ formatInt .Total }}</span>
                <span x-text="window.plural(total, 'item', 'items')">{{ .Total | plural "item" "items" }}</span>
              </span>
              <div class="scrubbable-grid__loading" x-show="!loaded">
                {{ readFile "loading.svg" }}
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper" x-show="total === 0 && loaded && !isFilterActive()" x-cloak>
          {{ template "no-media" . }}
        </div>
      </div>
      {{/* photo grid */}}
      <div class="scrubbable-grid">
        <div id="grid"></div>
      </div>
    </div>
    <div class="timeline-pill">
      <button class="btn btn-primary btn-calendar body-small" @click="mobile.timeline.open = !mobile.timeline.open">
        Calendar
      </button>
    </div>
  </div>
{{ end }}
