{{ define "base" }}
  <!doctype html>
  <html lang="en">
    <head>
      <script>
        let theme = '';

        if (localStorage.getItem('theme')) {
          theme = localStorage.getItem('theme');
        } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          theme = 'dark';
        }

        if (theme) {
          document.documentElement.dataset.theme = theme;
        }
      </script>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width,minimum-scale=1" />
      <link rel="shortcut icon" href="/favicon.ico" />
      <title>{{ block "title" . }}{{ end }}</title>

      <link rel="stylesheet" href="/dist/styles/main.css" />

      <script defer src="/dist/js/hls.js"></script>
      <script defer src="/dist/js/main.js"></script>
      <style>
        .lazyload,
        .lazyloading {
          opacity: 0;
        }
        .lazyloaded {
          opacity: 1;
          transition: opacity 0.1s;
        }
        img[data-sizes='auto'] {
          max-width: 100%;
        }
        img.lazyload:not([src]) {
          visibility: hidden;
        }
        [x-cloak=''] {
          display: none;
        }
      </style>
    </head>
    <body {{ with .Section }}class="section-{{ . }}"{{ end }}>
      {{ template "nav" . }}


      <div class="main">
        {{ block "main" . }}
        {{ end }}
      </div>

      {{ template "footer" . }}
      {{ template "toast" . }}


      <script>
        let input = document.getElementById('theme-input');

        function handle_input() {
          if (input) {
            if (theme === 'dark') {
              input.checked = true;
            } else {
              input.checked = false;
            }
          }
        }

        function toggle() {
          if (theme === 'light') {
            theme = 'dark';
          } else {
            theme = 'light';
          }
          document.documentElement.dataset.theme = theme;
          localStorage.setItem('theme', theme);

          handle_input();
        }

        handle_input();
      </script>
      {{ .Meta.CustomHTML }}
    </body>
  </html>
{{ end }}
